#root {
  max-width: 1280px;
  margin: 0 auto;
  background: #ccc;
}
* {
  box-sizing: border-box;
}

body {
  background: #ccc;
}

h1 {
  font-size: 45px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  font-weight: bold;
  line-height: 100px;
}

h2 {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  margin-top: 0px;
}

h3 {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  margin: 20px 0;
}

header {
  width: 100%;
  height: 160px;
  background: white;
  color: black;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  line-height: 50px;
  background: #333333;
}

.nav a {
  text-decoration: none;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 40px;
}

.lastLink {
  margin-right: 40px;
}
.contenu {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}
.article {
  width: 60%;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 30px;
  flex: 1;
}

.article > div {
  padding: 10px 20px 30px;
}

.article img {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

.infos {
  width: 340px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 20px 20px 20px;
}

.infos h2 {
  margin-bottom: 20px;
}

.infos img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.infos p {
  font-size: 15px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  width: 100%;
  height: 63px;
  text-align: center;
  line-height: 63px;
  background: #dddddd;
  font-family: "Courier New", Courier, monospace;
}

footer span {
  font-weight: bold;
}
